.cardsheet {
    width: 100%;
    min-width: 30vw;

    .cell {
        align-items: center;
        text-align: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        font-size: 80px;
        line-height: 1.35;
        user-select: none;

        .bingocell {
            border-radius: 30px;
            word-break: break-word;

            &:after {
                content: "X";
                left: 0px;
                top: -20px;
                position: absolute;
                color: gold;
                transition: 0.5s ease;
                pointer-events: none;
                font-family: "Caveat Brush", cursive;
                font-size: 0px;
                text-align: center;
                opacity: 0;
                width: 100%;
            }
        }

        .drawn {
            background-color: lightgrey;

            &:after {
                font-size: 120px;
                opacity: .6;
                height: 100%;
            }
        }
    }
}

@media (max-width: 1200px) {
    .cardsheet {
        .cell {
            font-size: 40px;

            .bingocell {
                &:after {
                    top: -5px;
                }
            }

            .drawn {
                &:after {
                    font-size: 60px;
                }
            }
        }
    }
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .cardsheet {
        max-width: 50%;

        .cell {
            font-size: 40px;

            .drawn {
                &:after {
                    display: none;
                }
            }
        }

        table.table,
        table.table tr,
        table.table th,
        table.table td {
            border-collapse: collapse !important;
            border: 5px solid #000 !important;
        }
    }
}