<div>
    <form class="d-print-none" *ngIf="this.configuring">
        <h3>New Bingo Card</h3>
        <div class="form-row">
            <div class="form-group col">
                <label for="numberOfBalls">Ball count:</label>
                <input type="number" name="numberOfBalls" id="numberOfBalls" class="form-control"
                    [(ngModel)]="this.numberOfBalls" min="2" max="1000" [disabled]="!this.configuring" />
            </div>
            <div class="form-group col">
                <div class="form-row">
                    <div class="form-group col">
                        <label for="rowCount">Rows:</label>
                        <input type="number" name="rowCount" id="rowCount" class="form-control"
                            [(ngModel)]="this.rowCount" [disabled]="!this.configuring" min="1" max="10" />
                    </div>
                    <div class="form-group col">
                        <label for="columnCount">Columns:</label>
                        <input type="number" name="columnCount" id="columnCount" class="form-control"
                            [(ngModel)]="this.columnCount" [disabled]="!this.configuring" min="1" max="10" />
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="numberOfCards">Card count:</label>
                <input type="number" name="numberOfCards" id="numberOfCards" class="form-control"
                    [(ngModel)]="this.cardCount" min="1" max="9" [disabled]="!this.configuring" />
            </div>
        </div>
        <div class="form-group">
            <input type="text" autocomplete="off" class="form-control form-control-lg" name="playerid" id="playerid"
                placeholder="Specific card or leave blank for random cards" [(ngModel)]="this.playerid"
                (change)="this.playerid = this.playerid.toLowerCase()" [disabled]="!this.configuring" />
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-block btn-lg btn-outline-dark" (click)="this.showCard()">
                    &gt; New bingo cards
                </button>
            </div>
            <div class="col form-group custom-control" *ngIf="this.drawer && this.drawer.drawnNumbers > 0">
                <input type="checkbox" class="custom-control-input" id="syncFromDrawer" name="syncFromDrawer"
                    [(ngModel)]="this.syncFromDrawer" />
                <label class="custom-control-label" for="syncFromDrawer">Mark drawn numbers</label>
            </div>
        </div>
        <div class="row" *ngIf="!!this.card">
            <button type="button" class="btn btn-block btn-lg btn-outline-dark" (click)="this.configuring = false">
                &gt; Cancel
            </button>
        </div>
    </form>
    <div class="row d-print-none" *ngIf="!this.configuring">
        <div class="col-10 border border-dark rounded">
            <h1 class="text-center">BINGO!</h1>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-block btn-lg btn-outline-dark" (click)="this.configuring = true">
                New
            </button>
        </div>
    </div>
    <div class="row" *ngIf="!this.configuring && !!this.cards?.length">
        <div *ngFor="let card of this.cards" class="cardsheet col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th [attr.colspan]="card.colCount" class="text-center" scope="col">{{ card.seed }} <span
                                class="d-print-none">({{ card.totalDrawn}} / {{ card.totalNumbers}})</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gridRow of card.grid">
                        <td *ngFor="let cell of gridRow" class="çol cell" (click)="cell.drawn = !cell.drawn"
                            scope="row">
                            <div class="bingocell" [class.drawn]="cell.drawn">
                                {{ cell.val }}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>